<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wiseman.hostelworldassessmentapp">

    <application
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.HostelWorldAssessmentApp"
        tools:targetApi="31">
        <activity
            android:name=".HiltTestActivity"
            android:exported="false" />
    </application>

</manifest>